* {
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aboutme{
    margin-left: 35px;
    background-color: transparent;
    border: 2px gray;
    border-radius: 5px;
    border-style: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.aboutme:hover{
    margin-left: 35px;
    background-color: white;
    border: 2px gray;
    border-radius: 5px;
    border-style: solid;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.aboutme:active{
    margin-left: 35px;
    background-color: gray;
    border: 2px white;
    border-radius: 5px;
    border-style: solid;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}